<%= render partial: 'shared/trappeNav' %>

<h1>All Dover orders</h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date placed</th>
        <th>Order Day </th>
        <th>Status</th>
        <th>View Order</th>
      </tr>
    </thead>
    <tbody>

	<% @orders.each do |order| %>
	  <tr>
	    <td><%= order.id %></td>
	    <td><%= order.created_at.strftime('%A, %d %b %Y %l:%M %p') %></td>	
      <td> <%= order.order_day %> </td>
      
      <% if order.sale_status == 'Pending' %>
        <td style="color:orange;"> <%= order.sale_status %> </td>
      <% else %>
        <td style="color:green;"> <%= order.sale_status %> </td>
      <% end %>
      

      <% if order.sale_status == 'Complete' %>
        <td><a href="/trappe/dover/sales/<%= order.id %>/<%= order.order_day %>">View</a> </td>
      <% else %>
        <td><a href="/trappe/dover/sales/<%= order.id %>/<%= order.order_day %>/stock/new">Create Sales Order </a></td>
      <% end %>

	 </tr>
	<% end %>

    </tbody>
  </table>

  </div>
</div>