<%= render partial: 'shared/trappeNav' %>

<h1>Review <%= params[:order_day] %>'s Sales Order</h1>

<!-- <div class='supplier'>
  <ul> 
    <li><a href="/dover/inventory/<%= params[:id] %>/<%= params[:order_day] %>/all"> All Quanities </a></li>
    <li><a href="/dover/inventory/<%= params[:id] %>/<%= params[:order_day] %>"> No Zeros </a></li>
  </ul>
</div> -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="sticky">Out of Stock</th>
        <th class="sticky">Product</th>
        <th class="sticky">Max Amount</th>
        <th class="sticky">Current Quantity</th>
        <th class="sticky"><%= params[:order_day] %> Quantity Needed</th>
        <th class="sticky">Unit Price</th>
        <th class="sticky">Total Price </th>
      </tr>
    </thead>
    <tbody>

  <%= form_tag "/trappe/dover/sales/stock/review/new", method: :post do %>
    <%= hidden_field_tag 'order_id', params[:id] %>
    <%= hidden_field_tag 'order_day', params[:order_day] %>
    <thead>
      <tr> 
        <td align="center" colspan="7">Prepped </td>
      </tr>
    </thead>

    <thead>
      <tr> 
        <td align="center" colspan="7">Frozen </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <%= fields_for "inventory[]", inventory do |pf| %>

        <% if inventory.product.prepped == true &&  inventory.product.item_type == 'frozen' && inventory.quantity_needed != 0 %>
          <tr>
          	<% if inventory.out_of_stock %>
            	<td style="color:red;">OUT OF STOCK</td>
           	<% else %>
           		<td> </td>
           	<% end %>

            <td><%= inventory.product.name %></td>
            <td><%= inventory.product.tuesday_max %></td>   
            <td><%= add_percent(inventory) %></td>  
            <td><%= inventory.quantity_needed %> <%= add_measurement_label(inventory) %></td>
            <td>$<%= inventory.product.price %> </td>
            <td>$<%= inventory.product_total %> </td>
         </tr>
         <% end %>

      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="7">Refrigerated </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
    <%= fields_for "inventory[]", inventory do |pf| %>

      <% if inventory.product.prepped == true &&  inventory.product.item_type == 'refrigerated' && inventory.quantity_needed != 0 %>      
        <tr>
          	<% if inventory.out_of_stock %>
            	<td style="color:red;">OUT OF STOCK</td>
           	<% else %>
           		<td> </td>
           	<% end %>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= add_measurement_label(inventory) %></td>
          <td>$<%= inventory.product.price %> </td>
          <td>$<%= inventory.product_total %> </td>      
       </tr>
      <% end %>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="7">Dry </td>
      </tr>
    </thead>       

    <% @inventories.each do |inventory| %>
    <%= fields_for "inventory[]", inventory do |pf| %>
      <% if inventory.product.prepped == true && inventory.product.item_type == 'dry' && inventory.quantity_needed != 0 %>      
        <tr>
          	<% if inventory.out_of_stock %>
            	<td style="color:red;">OUT OF STOCK</td>
           	<% else %>
           		<td> </td>
           	<% end %>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= add_measurement_label(inventory) %></td>
          <td>$<%= inventory.product.price %> </td>
          <td>$<%= inventory.product_total %> </td>        
       </tr>
      <% end %>
      <% end %>
    <% end %>


    <thead>
      <tr> 
        <td align="center" colspan="7">Not Prepped </td>
      </tr>
    </thead>

    <thead>
      <tr> 
        <td align="center" colspan="7">Frozen </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
    <%= fields_for "inventory[]", inventory do |pf| %>
      <% if inventory.product.prepped == false &&  inventory.product.item_type == 'frozen' && inventory.quantity_needed != 0 %>      
        <tr>
          	<% if inventory.out_of_stock %>
            	<td style="color:red;">OUT OF STOCK</td>
           	<% else %>
           		<td> </td>
           	<% end %>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= add_measurement_label(inventory) %></td>
          <td>$<%= inventory.product.price %> </td>
          <td>$<%= inventory.product_total %> </td>         
       </tr>
      <% end %>
      <% end %>
    <% end %>    

    <thead>
      <tr> 
        <td align="center" colspan="7">Refrigerated </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
    <%= fields_for "inventory[]", inventory do |pf| %>
      <% if inventory.product.prepped == false &&  inventory.product.item_type == 'refrigerated' && inventory.quantity_needed != 0 %>      
        <tr>
          	<% if inventory.out_of_stock %>
            	<td style="color:red;">OUT OF STOCK</td>
           	<% else %>
           		<td> </td>
           	<% end %>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= add_measurement_label(inventory) %></td>
          <td>$<%= inventory.product.price %> </td>
          <td>$<%= inventory.product_total %> </td>         
       </tr>
      <% end %>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="7">Dry </td>
      </tr>
    </thead>  

    <% @inventories.each do |inventory| %>
    <%= fields_for "inventory[]", inventory do |pf| %>
      <% if inventory.product.prepped == false &&  inventory.product.item_type == 'dry' && inventory.quantity_needed != 0 %>      
        <tr>
          	<% if inventory.out_of_stock %>
            	<td style="color:red;">OUT OF STOCK</td>
           	<% else %>
           		<td> </td>
           	<% end %>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= add_measurement_label(inventory) %></td>
          <td>$<%= inventory.product.price %> </td>
          <td>$<%= inventory.product_total %> </td>          
       </tr>
      <% end %>
      <% end %>
    <% end %>    

    </tbody>
  </table>


  <div align="right"> 
    <h3> TOTAL: </h3>
    <h2>$<%= @final_total %></h2>
  </div>

      <%= submit_tag 'Place Order', class:"btn btn-primary pull-right" %>
   <% end %>

  <br>
    Notes:
    <br>
      <%= @order_message %>
    <br>
    <br>
    <br>

  </div>

