<h1>Order</h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Tuesday Max</th>
        <th>Thursday Max</th>
        <th>Current Quantity</th>
        <th>Tuesday Quantity Needed</th>
        <th>Thursday Quantity Needed</th>
      </tr>
    </thead>
    <tbody>

	<% @inventories.each do |inventory| %>
	  <tr>
	    <td><%= inventory.product.name %></td>
      <td><%= inventory.product.tuesday_max %></td> 
	    <td><%= inventory.product.thursday_max %></td>	
	    <td><%= inventory.amount %></td>	
      <td><%= inventory.product.tuesday_max - inventory.amount  %></td>
	    <td><%= inventory.product.thursday_max - inventory.amount  %></td>
	 </tr>
	<% end %>

    </tbody>
  </table>

  </div>

</div>