<%= render partial: 'shared/trappeNav' %>

<h1>All Orders</h1>
<div class='supplier'>
  <ul> 
    <li><a href="/trappe/inventory/<%= @order_id %>">All </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/USFoods">US Foods </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/Sysco">Sysco </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/Gordon">Gordon </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/Espo">Espo </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/Holt">Holt </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/Jetro">Jetro </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/PrepCenter">PrepCenter </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/Sams">Sams </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/Walmart">Walmart </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/Amazon">Amazon </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/Ecolab">Ecolab </a> </li>
    <li><a href="/trappe/inventory/<%= @order_id %>/Coke">Coke </a> </li>
  </ul>
</div>

<div class='supplier'>
  <ul> 
    <li><a href="/trappe/inventory/<%= params[:id] %>/all"> All Quanities </a></li>
    <li><a href="/trappe/inventory/<%= params[:id] %>"> No Zeros </a></li>
  </ul>
</div>
         
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="sticky">Product</th>
        <th class="sticky">Max Amount</th>
        <th class="sticky">Current Quantity</th>
        <th class="sticky">Quantity Needed</th>
      </tr>
    </thead>
    <tbody>

    <thead>
      <tr> 
        <td align="center" colspan="6">Prepped </td>
      </tr>
    </thead>

    <thead>
      <tr> 
        <td align="center" colspan="6">Frozen </td>
      </tr>
    </thead>    
    <% @inventories.each do |inventory| %>
      <% if inventory.trappe_product.prepped == true &&  inventory.trappe_product.item_type == 'frozen' && inventory.quantity_needed != 0  %>
        <tr>
          <td><%= inventory.trappe_product.name %></td>
          <td><%= inventory.trappe_product.tuesday_max %></td> 
          <td><%= trappe_add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= t_add_measurement_label(inventory) %></td>
       </tr>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="6">Refrigerated </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.trappe_product.prepped == true &&  inventory.trappe_product.item_type == 'refrigerated' && inventory.quantity_needed != 0 %>
        <tr>
          <td><%= inventory.trappe_product.name %></td>
          <td><%= inventory.trappe_product.tuesday_max %></td> 
          <td><%= trappe_add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= t_add_measurement_label(inventory) %></td>
       </tr>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="6">Dry </td>
      </tr>
    </thead>       

    <% @inventories.each do |inventory| %>
      <% if inventory.trappe_product.prepped == true &&  inventory.trappe_product.item_type == 'dry' && inventory.quantity_needed != 0 %>
        <tr>
          <td><%= inventory.trappe_product.name %></td>
          <td><%= inventory.trappe_product.tuesday_max %></td> 
          <td><%= trappe_add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= t_add_measurement_label(inventory) %></td>
       </tr>
      <% end %>
    <% end %>


    <thead>
      <tr> 
        <td align="center" colspan="6">Not Prepped </td>
      </tr>
    </thead>

    <thead>
      <tr> 
        <td align="center" colspan="6">Frozen </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.trappe_product.prepped == false &&  inventory.trappe_product.item_type == 'frozen' && inventory.quantity_needed != 0 %>
        <tr>
          <td><%= inventory.trappe_product.name %></td>
          <td><%= inventory.trappe_product.tuesday_max %></td> 
          <td><%= trappe_add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= t_add_measurement_label(inventory) %></td>
       </tr>
      <% end %>
    <% end %>    

    <thead>
      <tr> 
        <td align="center" colspan="6">Refrigerated </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.trappe_product.prepped == false &&  inventory.trappe_product.item_type == 'refrigerated' && inventory.quantity_needed != 0 %>
        <tr>
          <td><%= inventory.trappe_product.name %></td>
          <td><%= inventory.trappe_product.tuesday_max %></td> 
          <td><%= trappe_add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= t_add_measurement_label(inventory) %></td>
       </tr>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="6">Dry </td>
      </tr>
    </thead>  

    <% @inventories.each do |inventory| %>
      <% if inventory.trappe_product.prepped == false &&  inventory.trappe_product.item_type == 'dry' && inventory.quantity_needed != 0 %>
        <tr>
          <td><%= inventory.trappe_product.name %></td>
          <td><%= inventory.trappe_product.tuesday_max %></td> 
          <td><%= trappe_add_percent(inventory) %></td>  
          <td><%= inventory.quantity_needed %> <%= t_add_measurement_label(inventory) %></td>
       </tr>
      <% end %>
    <% end %>    


    </tbody>
  </table>
    Notes:
    <br>
      <%= @order_message %>
    <br>
    <br>
    <br>

  </div>

