<%= render partial: 'shared/bypassNav' %>

<h1>All Bypass Products</h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Count By</th>
        <th>Max Amount</th>
        <th>Case Quantity </th>
        <th>Item Type</th>
        <th>Location</th>
        <th>Edit</th>


        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

	<% @bypass_products.each do |bypass_product| %>
	  <tr>
	    <td><%= bypass_product.product.name %></td>
      <td><%= bypass_product.product.measurement %></td> 
      <td><%= bypass_product.max_amount %> </td>
      <td><%= bypass_product.product.case_quantity %> </td> 
      <td><%= bypass_product.product.item_type %> </td>
      <td><%= bypass_product.location %> </td>
      <td><%= link_to 'Edit', "/bypass/products/#{bypass_product.id}/edit", class: "btn btn-primary"%></td>
      <td><%= button_to "Delete", { action: "destroy", id: bypass_product.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> </td>
	 </tr>
	<% end %>

    </tbody>
  </table>

  </div>