<%= render partial: 'shared/userNav' %>

<h1>All Users</h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.email %></td>
	    <td><%= user.role %></td>	
	    <td><%= link_to 'Edit', "/users/#{user.id}/edit", class: "btn btn-primary"%></td>
	    <td><%= button_to "Delete", { action: "destroy", id: user.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> </td>	 </tr>
	<% end %>

    </tbody>
  </table>

  </div>
</div>