<%= render partial: 'shared/navbar' %>

<h1>All Dover orders</h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date placed</th>
        <th>Order Day </th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>

	<% @orders.each do |order| %>
	  <tr>
	    <td><%= order.id %></td>
	    <td><%= order.created_at.strftime('%A, %d %b %Y %l:%M %p') %></td>	
      <td> <%= order.order_day %> </td>
	    <td><a href="/dover/inventory/<%= order.id %>/<%= order.order_day %>">View </a> </td>	
	 </tr>
	<% end %>

    </tbody>
  </table>

  </div>
</div>
