<%= render partial: 'shared/navbar' %>

<h1><%= params[:order_day] %>'s Order</h1>


  <table class="table table-striped">
    <thead>
      <tr>
        <th class="sticky">Product</th>
        <th class="sticky">Max Amount</th>
        <th class="sticky">Current Quantity</th>
        <th class="sticky"><%= params[:order_day] %> Quantity Needed</th>
      </tr>
    </thead>
    <tbody>

    <thead>
      <tr> 
        <td align="center" colspan="6">Prepped </td>
      </tr>
    </thead>

    <thead>
      <tr> 
        <td align="center" colspan="6">Frozen </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == true &&  inventory.product.item_type == 'frozen'%>
        <tr>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= tuesday_quantity_needed(inventory) %></td>
       </tr>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="6">Refrigerated </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == true &&  inventory.product.item_type == 'refrigerated'%>
        <tr>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= tuesday_quantity_needed(inventory)  %></td>
       </tr>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="6">Dry </td>
      </tr>
    </thead>       

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == true &&  inventory.product.item_type == 'dry'%>
        <tr>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= tuesday_quantity_needed(inventory)  %></td>
       </tr>
      <% end %>
    <% end %>


    <thead>
      <tr> 
        <td align="center" colspan="6">Not Prepped </td>
      </tr>
    </thead>

    <thead>
      <tr> 
        <td align="center" colspan="6">Frozen </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == false &&  inventory.product.item_type == 'frozen'%>
        <tr>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= tuesday_quantity_needed(inventory)  %></td>
       </tr>
      <% end %>
    <% end %>    

    <thead>
      <tr> 
        <td align="center" colspan="6">Refrigerated </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == false &&  inventory.product.item_type == 'refrigerated'%>
        <tr>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= tuesday_quantity_needed(inventory)  %></td>
       </tr>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="6">Dry </td>
      </tr>
    </thead>  

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == false &&  inventory.product.item_type == 'dry'%>
        <tr>
          <td><%= inventory.product.name %></td>
          <td><%= inventory.product.tuesday_max %></td>   
          <td><%= add_percent(inventory) %></td>  
          <td><%= tuesday_quantity_needed(inventory)  %></td>
       </tr>
      <% end %>
    <% end %>    


    </tbody>
  </table>
    Notes:
    <br>
      <%= @order_message %>
    <br>
    <br>
    <br>

  </div>

