<%= render partial: 'shared/navbar' %>

<h1>Thursday Order</h1>

<a href="/dover/inventory/<%= @order_id %>">All </a>
<a href="/dover/inventory/<%= @order_id %>/tuesday">Tuesday </a>
<a href="/dover/inventory/<%= @order_id %>/thursday">Thursday </a>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>

        <th>Current Quantity</th>
        <th>Thursday Quantity Needed</th>
      </tr>
    </thead>
    <tbody>

    <thead>
      <tr> 
        <td align="center" colspan="6">Prepped </td>
      </tr>
    </thead>

    <thead>
      <tr> 
        <td align="center" colspan="6">Frozen </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == true && inventory.product.item_type == 'frozen' %>
      	<% if (thursday_quantity_needed(inventory) != '0 CASE') && (thursday_quantity_needed(inventory) != "0 #{inventory.product.measurement}") %>
      	<tr>
          <td><%= inventory.product.name %></td>
          <td><%= add_percent(inventory) %></td>  
          <td><%= thursday_quantity_needed(inventory) %></td>
       </tr>
       <% end %>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="6">Refrigerated </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == true && inventory.product.item_type == 'refrigerated' %>
      	<% if (thursday_quantity_needed(inventory) != '0 CASE') && (thursday_quantity_needed(inventory) != "0 #{inventory.product.measurement}") %>
      	<tr>
          <td><%= inventory.product.name %></td>
          <td><%= add_percent(inventory) %></td>  
          <td><%= thursday_quantity_needed(inventory) %></td>
       </tr>
       <% end %>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="6">Dry </td>
      </tr>
    </thead>       

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == true && inventory.product.item_type == 'dry' %>
      	<% if (thursday_quantity_needed(inventory) != '0 CASE') && (thursday_quantity_needed(inventory) != "0 #{inventory.product.measurement}") %>
      	<tr>
          <td><%= inventory.product.name %></td>
          <td><%= add_percent(inventory) %></td>  
          <td><%= thursday_quantity_needed(inventory) %></td>
       </tr>
       	<% end %>
      <% end %>
    <% end %>


    <thead>
      <tr> 
        <td align="center" colspan="6">Not Prepped </td>
      </tr>
    </thead>

    <thead>
      <tr> 
        <td align="center" colspan="6">Frozen </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == false && inventory.product.item_type == 'frozen' %>
      	<% if (thursday_quantity_needed(inventory) != '0 CASE') && (thursday_quantity_needed(inventory) != "0 #{inventory.product.measurement}") %>
      	<tr>
          <td><%= inventory.product.name %></td>
          <td><%= add_percent(inventory) %></td>  
          <td><%= thursday_quantity_needed(inventory) %></td>
       </tr>
       <% end %>
      <% end %>
    <% end %>    

    <thead>
      <tr> 
        <td align="center" colspan="6">Refrigerated </td>
      </tr>
    </thead>    

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == false && inventory.product.item_type == 'refrigerated' %>
      	<% if (thursday_quantity_needed(inventory) != '0 CASE') && (thursday_quantity_needed(inventory) != "0 #{inventory.product.measurement}") %>
      	<tr>
          <td><%= inventory.product.name %></td>
          <td><%= add_percent(inventory) %></td>  
          <td><%= thursday_quantity_needed(inventory) %></td>
       </tr>
       <% end %>
      <% end %>
    <% end %>

    <thead>
      <tr> 
        <td align="center" colspan="6">Dry </td>
      </tr>
    </thead>  

    <% @inventories.each do |inventory| %>
      <% if inventory.product.prepped == false && inventory.product.item_type == 'dry' %>
      	<% if (thursday_quantity_needed(inventory) != '0 CASE') && (thursday_quantity_needed(inventory) != "0 #{inventory.product.measurement}") %>
      	<tr>
          <td><%= inventory.product.name %></td>
          <td><%= add_percent(inventory) %></td>  
          <td><%= thursday_quantity_needed(inventory) %></td>
       </tr>
       <% end %>
      <% end %>
    <% end %>    


    </tbody>
  </table>
    Notes:
    <br>
      <%= @order_message %>
    <br>
    <br>
    <br>

  </div>

</div>
