
<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Count By</th>
        <th>Tuesday Max</th>
        <th>Thursday Max</th>
        <th>Case Quantity </th>
        <th>Prepped</th>
        <th>Item Type</th>
        <th>Location</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

	<% @products.each do |product| %>
	  <tr>
	    <td><%= product.name %></td>
      <td><%= product.measurement %></td> 
	    <td><%= product.tuesday_max %></td>	
	    <td><%= product.thursday_max %></td>
      <td><%= product.case_quantity %> </td>	
      <td><%= product.prepped %> </td>
      <td><%= product.item_type %> </td>
      <td><%= product.location %> </td>
	    <td><%= link_to 'Edit', "/products/#{product.id}/edit", class: "btn btn-primary"%></td>
	    <td><%= button_to "Delete", { action: "destroy", id: product.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> </td>
	 </tr>
	<% end %>

    </tbody>
  </table>

  </div>